:root {
    /* Tema escuro (default) */
    --primary-color: #0b112f;
    --secondary-color: #a940d9;
    --tertiary-color: #87fffd;
    --fourth-color: #02a2c6;
    --fifth-color: #000000;
    --sixth-color: #ffffff;
    --darker-primary: #02020d;
    --lighter-primary: #2a2a87;

    --white: #ffffff;
    --light-gray: #f2f2f2;
    --gray: #bdc3c7;
    --dark-gray: #7f8c8d;
    --black: #000000;

    --warning-color: #f1c40f;
    --info-color: #5d1abc;
    --error-color: #e74c3c;
}

:root.light-theme {
    --primary-color: #cfeeff;
    --secondary-color: #9b6af5;
    --tertiary-color: #4eb8d0;
    --fifth-color: #f8f9fa;
    --sixth-color: #444444;
    --darker-primary: #eef9ff;
    --lighter-primary: #9fd7ff;

    --white: #ffffff;
    --light-gray: #f7f7f7;
    --gray: #b0bec5;
    --dark-gray: #455a64;
    --black: #212121;

    --warning-color: #ffcc80;
    --info-color: #7c4dff;
    --error-color: #ff5252;
}
